* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* some styling to make it more cooler */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* you can remove those watermark if you will buy it but no need to buy cuz we are just practicing :)  */
